.main {
  height: 1127px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  aspect-ratio: 210/297;
}
.left {
  background-color: #6c999a;
  position: absolute;
  height: 100%;
  left: 50px;
  width: 35%;
  color: white;
}
.left .userImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 73px auto;
}
.left .userImg img {
  width: 80%;
  aspect-ratio: 1;
  border: 6px solid #ffffff;
  border-radius: 100%;
}
.resume .parent {
  /* background-color: #aededa; */
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;

  gap: 5px;
}
.resume .parent h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 2px;
  padding: 4px 0;
}
.left .parent .profAbout {
  line-height: 24px;
}
.left .parent .skill {
  padding: 4px 8px;
  width: fit-content;
  background-color: #79b9d2;
  border-radius: 4px;
  margin: 3px;
}
.left .parent .skillListResume {
  /* line-height: 32px; */
  display: flex;
  flex-wrap: wrap;
}

.left .parent .project {
  padding: 4px;
  text-decoration: none;
  color: white;
  transition: all 0.4s;
  font-size: 1.1rem;
  padding-left: 6px;
  display: block;
}
.left .parent .project:hover {
  text-decoration: underline;
}
.left .parent .project:visited {
  color: white;
  text-decoration: none;
}
.left .parent .contact {
  margin: 4px;
}
.left .parent .contact i {
  margin-right: 16px;
}
.right {
  background-color: white;
  width: 100%;
}
.right .parent {
  margin: 20px 30px;
}
.right .parent:first-child {
  margin-bottom: 40px;
}
.right .basicInfo {
  padding: 80px 40px 40px 360px;
  margin-top: 60px;
  background-color: #ebcbbb;
}
.right .basicInfo .name {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  word-wrap: normal;
  font-size: 2.4rem;
  margin-bottom: 10px;
}
.right .basicInfo .occupation {
  font-size: 1.4rem;
  font-family: cursive;
  letter-spacing: 3px;
}
.right .mainInfo {
  padding-left: 330px;
  margin-top: 40px;
}
.right .parent .institute {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* padding-left: 10px; */
  vertical-align: middle;
  margin-top: 24px;
  font-weight: 300;
}
.right .parent .institute .name {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
}
.right .institute .eduMarks {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}
.resume .right .hr {
  margin: 0 10px;
  height: 1px;
  background-color: black;
}
.resume .left .hr {
  margin: 0 10px;
  height: 1px;
  background-color: white;
}
.right .parent .lang {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 4px 0;
}
.right .parent .lang .langName {
  font-size: 1.2rem;
  font-weight: 300;
}
.right .parent .lang .langDesc {
  font-size: 0.9rem;
  color: #6c999a;
  padding-left: 4px;
}
.right .company {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px 0;
}
.right .company .compName {
  font-size: 1.5rem;
  font-weight: 400;
}
.right .company .compDesc {
  font-weight: 300;
  font-size: 1.1rem;
  padding-left: 4px;
}
