@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Raleway:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600&display=swap");

:root {
  --bg: #d8b2af;
  --text: #593131;
  --bg-white: #f8f8f8;
}
body {
  background-color: #000;
}

.main {
  background-color: var(--bg-white);
  height: 1127px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  aspect-ratio: 210/297;
}
.left {
  padding: 35px;
  background-color: var(--bg-white);
  position: absolute;
  /* height: 75%; */
  left: 0;
  width: 35%;
  color: var(--text);
}
.left .userImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left .userImg img {
  width: 100%;
  height: auto;
}
.left .name {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 40px;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
}
.occupation {
  text-transform: uppercase;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
}
.personal {
  margin-bottom: 20px;
}
.details {
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.parent {
  font-family: "Montserrat", sans-serif;
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.parent h2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-bottom: 0rem;
}
.parent .contact i {
  margin-right: 10px;
}
.right {
  background-color: var(--bg);
  width: 77%;
  margin-left: 23%;
  height: 100%;
  padding-left: 23%;
  display: flex;

  align-items: center;
}
.rightMain {
  border-left: 3px solid var(--bg-white);
  height: 95%;
}
.rightMain ul {
  color: var(--bg-white);
  padding-inline-start: 15px;
  font-size: 1.8rem;
}
.rightMain .parent h2 {
  margin: 0;
  color: var(--bg-white);
}
.rightMain .parent h2 i {
  margin: 0 20px 0 10px;
  width: 24px;
  height: auto;
}
.rightMain .parent {
  font-size: 1rem;
  margin-bottom: 30px;
}
.right .parent > div {
  margin-left: 53px;
  margin-right: 20px;
  display: flex;
}
.right .parent .institute {
  flex-direction: column;
  gap: 10px;
  /* padding-left: 10px; */
  vertical-align: middle;
  margin-top: 10px;

  font-weight: 300;
}
.right .parent .institute .name {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
}
.right .institute .eduMarks {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}
.right .company {
  flex-direction: column;
  gap: 6px;
  padding: 10px 0;
}
.right .company .compName {
  font-size: 1.5rem;
  font-weight: 400;
}
.skillListResume {
  font-size: 1.1rem;

  gap: 6px;
  padding: 10px 0;

  flex-wrap: wrap;
}
.right .skill {
  width: fit-content;
  background-color: var(--bg-white);
  padding: 2px 20px;
  border-radius: 20px;
}
#resProjects {
  flex-direction: column;
  gap: 6px;
}
.project {
  text-decoration: none;
  color: var(--bg-white);
  font-size: 1.2rem;
}
.project:hover {
  text-decoration: underline;
}
